[path]
data = ./data/ISRUC_S3/ISRUC_S3.npz
save = ./output/

[feature]
channels = 10
fold = 10
epoch_f = 80
batch_size_f = 32
optimizer_f = adam
learn_rate_f = 2e-5

[train]
channels = 10
fold = 10
context = 5
epoch = 80
batch_size = 32
optimizer = adam
learn_rate = 2e-5

[model]
GLalpha = 0.0005
cheb_filters = 64
time_filters = 64
time_conv_strides = 1
time_conv_kernel = 10
num_block = 1
cheb_k = 9
dropout = 0.5
